$icomoon-font-family: "Cubes3D" !default;
$icomoon-font-path: "fonts" !default;

$icon-clipboard: "\e900";
$icon-copy: "\e901";
$icon-duplicate: "\e902";
$icon-copyright: "\e903";
$icon-download: "\e904";
$icon-link: "\e905";
$icon-menu: "\e906";
$icon-minus: "\e907";
$icon-pencil: "\e908";
$icon-plus: "\e909";
$icon-redo: "\e90a";
$icon-save: "\e90b";
$icon-undo: "\e90c";
$icon-upload: "\e90d";
$icon-user: "\e90e";
$icon-x-mark: "\e90f";

