{
  "retainLines": true,
  "plugins": [
  	"syntax-object-rest-spread",
	"syntax-jsx",
  	"jsx-inject-mi2",
  	"jsx-translate",
  	["jsx-mi2", {staticTranslation:true}],
  ],
  "ignore": ["node_modules"]
}
