// base settings
$app-transition-slow: 1s; // set 0 to disable transitions
$app-transition-fast: 100ms;

// media queries 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;


$app-font-family: "Verdana";

$main-link-color: blue;
$main-fg: #444;
$main-border-color: #eee;


$app-spacing: 10px;

