[as="c3d/MainApp"]{
	h1 span{ 
		font-size: 14px;
	}
	> canvas{
		outline: solid 1px red;
		margin: 5px;
	}
	[as="c3d/PieceCanvas"]{
		display: inline-block;
		padding: 5px;
		margin: 5px;
	}
	[p="loop"]{
		display: flex;
		align-items: stretch;
		[as="c3d/PieceCanvas"]{
			display: flex;
			align-items: flex-end;
		}
	}
}